/* FOOTER ---------------------------------------------------------------- */

.site-footer {
  background: #f8f8f8; /* fondo sutil en el footer */
  border-top: 1px solid #e6e6e6; /* línea superior */
  padding: 22px 20px; /* padding interno */
  text-align: center; /* centro de texto */
  margin-top: 100px; /* separación respecto al contenido anterior */
  font-size: 14px; /* tamaño de texto */
  color: #666; /* color gris del texto del footer */
  margin-bottom: 0;
}   